@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(191, 191, 187);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: rgb(225, 225, 222);
}

.title{
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
}

.card{
  color: white;
  width: 230px;
  height: 140px;
  border-radius: 10px;
  margin: 15px auto;
  background-image: linear-gradient(to right, rgb(20, 56, 110), rgb(108, 143, 223));
}

.div1{
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-around;
}

.chip img{
  width: 30px;
}

.chip, .bank{
  margin-top: 10px;
}

.div2{
  height: 40px;
}

#numberOfCard, #numberOfCard1{
  font-size: 15px;
  margin: 5px 0px 0px 10px;
}

.div3{
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.nameP{
  margin: 18px 0px 0px 10px;
  font-size: 15px;
}

.validity{
  font-size: 11px;
  margin-right: 5px;
}

form{
  height: 170px;
}

.geral{
  width: 350px;
  height: 120px;
  margin-left: 90px;
}

.numbersCard, .divName, .divValidity{
  margin: 5px;
}

.divName label{
  margin: 0px 14px 0px 10px;
}

.divValidity label{
  margin-right: 7px;
}

input{
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 210px;
  outline: 0;
}

.buttons{
  display: flex;
}

#button, #buttonIndex, #buttonIndex2{
  margin: 20px 0px 0px 80px;
  width: 160px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(90, 125, 208);
  color: white;
}

#button:hover{
  background-color: rgb(20, 56, 110);
}

/* -----  Index  -----  */

.geralIndex{
  width: 100%;
  height: 100vh;
}

header{
  height: 60px;
}

#titleIndex{
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
  font-weight: bold;
}

main{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerIndex{
  width: 500px;
  height: 400px;
  background-color: rgb(20, 56, 110);
  border-radius: 30px;
}

.divOne{
  margin-top: 70px
}

.divOne p{
  color: rgb(212, 204, 204);
  font-size: 20px;
  text-align: center;
}

span{
  background-color: rgb(97, 189, 118);
  color: black;
}

.imgGif img{
  width: 250px;
}

.imgGif{
  text-align: center;
}

#buttonIndex{
  margin-left: 155px;
  width: 200px;
}

#buttonIndex a, #buttonIndex2 a{
  text-decoration: none;
  color: white;
  background-color: rgb(90, 125, 208);
}

#buttonIndex:hover, #buttonIndex2:hover{
  background-color: rgb(125, 136, 151);
  color: white;
}

footer{
  height: 30px;
}

#footer{
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}

